name: CI - Build and Push Docker Image to ACR

on:
  push:
    branches:
      - main  # Trigger this workflow when pushing to the main branch
  pull_request:
    branches:
      - main  # Trigger on PRs targeting the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
          login-server: ${{ secrets.ACR_NAME }}.azurecr.io

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/alacloudapi:latest -f ./alacloud-api/Dockerfile .
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/alacloudapi:latest
