name: Azure Container Apps Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.CONTAINER_APP_APP_ID }}
          client-secret: ${{ secrets.CONTAINER_APP_PASSWORD }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}

      - name: Build and deploy Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          appSourcePath: ${{ github.workspace }}/src
          acrName: cralacloudapidev
          containerAppName: alacloud-container-api-dev
          resourceGroup: rg-alacloud-api-dev
